<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission-sdk-23 android:name="android.permission.CAMERA" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PurpuraApp"
        tools:targetApi="31">
        <activity
            android:name=".ui.screens.ChatIndividual"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.screens.errors.ContentToPay"
            android:exported="false"
            android:screenOrientation="portrait" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".ui.screens.UpdateAddress"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.screens.UpdatePixKeys"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.screens.UpdateProduct"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.screens.UpdateProfile"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.screens.autentication.Login"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.screens.Dashboards"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.screens.errors.GenericError"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.screens.accountFeatures.MyProducts"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.screens.accountFeatures.MyOrders"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.screens.autentication.AddicionalInformacionsRegisterGoogle"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.screens.productRegister.RegisterProduct"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.screens.accountFeatures.EditPixKeys"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.screens.accountFeatures.EditAddress"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.screens.ProductPage"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.screens.PaymentStatus"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.screens.QrCodePayment"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.screens.productRegister.RegisterAdress"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.screens.productRegister.RegisterProductEndPage"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.screens.productRegister.RegisterPixKey"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.screens.autentication.RegisterOrLogin"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.screens.errors.InternetError"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.account.AccountFragment"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".ui.screens.autentication.Register"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.screens.MainActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.screens.SplashScreen"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.PurpuraApp"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>